@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: poppins;
}

.button{
    vertical-align: top;
}

/* This section is for Subscribe Button */
.subscribe-button{
    background-color: rgb(200, 0, 0);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 9px 16px;
    margin-right: 10px;
    transition: opacity .15s;
}

.subscribe-button:hover{
    opacity: .8;
}

.subscribe-button:active{
    opacity: .2;
}

/* This section is for Join Button */
.join-button{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    color: rgb(51, 48, 247);
    border: 1px solid rgb(75, 72, 245) ;
    padding: 8px 16px;
    margin-right: 10px;
    transition: background-color .5s, color 2s;
}

.join-button:hover{
    color: white;
    background-color:rgb(25, 21, 243);
    border: none;
    padding: 9px 17px;
    
}

.join-button:active{
    opacity: .2;
}
/* This section is for Tweet Button */
.tweet-button{
    background-color: #086aea;
    border: none;
    border-radius: 18px;
    color: #ffff;
    border: none;
    padding: 9px 24px;
    margin-right: 10px;
    transition: background-color .5s, opacity .5s, box-shadow .3s;
    font-weight: bold;
}

.tweet-button:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);
    background-color:#0959c2;

}

.tweet-button:active{
    opacity: .2;
}


